# You will find the SPACE_ID there too.
NEXT_PUBLIC_SPACE_ID="Your contentful space id"

# Create a new API key under Your Space > Settings > API Keys
NEXT_PUBLIC_ACCESS_TOKEN="Your contentful access token"

# Create a new Preview Token on Your Space > Settings > Content Preview
PREVIEW_ACCESS_TOKEN="Your preview access token"

# This can by any value you want. Make sure it is the same from the Content Preview URL
PREVIEW_SECRET="Your secret"

# Your website URL. Use http://localhost:3000 for local development
NEXTAUTH_URL=http://localhost:3000

# Hardcoded authentication credentials because there is no database yet
AUTH_PLANTPEDIA_USERNAME="Your user name"
AUTH_PLANTPEDIA_PASSWORD="Your password"

# Github credentials
AUTH_GITHUB_ID="YOUR GITHUB ID"
AUTH_GITHUB_SECRET="YOUR GITHUB SECRET"