* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Cormorant Garamond', Georgia, Cambria, "Times New Roman", Times, serif;
    min-height: 100vh;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #222;
}

img {
    display: block;
    max-width: 100%;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.wrapper {
    padding: 1rem;
    margin: auto;
    max-width: 1360px;
}

.navbar {
    padding:.5rem;
    border-bottom: 1px solid rgb(204, 204, 204);
}

.hero-text {
    word-break: break-word;
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
}

.hero-text:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.rich-text {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
}

.category {
    display: inline-block;
    background: #fee86d;
    border-radius: 1rem;
    padding: .3rem 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .75rem;
}

.excerpt {
    color: #555;
    font-size: 1.2rem;
}

.bg-gray {
    background: #f7f7f7;
}

.title-sidebar {
    background: #222;
    color: #fff;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    margin-bottom: 1rem;
    padding: .5rem 1rem;
}

@media screen and (min-width: 600px) {
    .wrapper {
        padding: 3rem 1rem;
    }
    
    .hero-text {
        font-size: 3rem;
    }
}

@media screen and (min-width: 960px) {
    .wrapper {
        padding: 5rem 1rem;
    }
}

@media screen and (min-width: 1200px) {
    .navbar {
        padding: 1rem 2rem;
    }

    .hero-text {
        font-size: 6rem;
        line-height: 6.5rem;
    }

    .excerpt {
        font-size: 1.5rem;
    }
}