* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Cormorant Garamond', Georgia, Cambria, "Times New Roman", Times, serif;
    min-height: 100vh;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #222;
}

img {
    display: block;
    max-width: 100%;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar {
    padding:.5rem;
    border-bottom: 1px solid rgb(204, 204, 204);
}

.hero-text {
    word-break: break-word;
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
}

.rich-text {
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
}

@media screen and (min-width: 600px) {
    .hero-text {
        font-size: 3rem;
    }
}

@media screen and (min-width: 960px) {
    .navbar {
        padding: 1rem 2rem;
    }

    .hero-text {
        font-size: 4rem;
    }
}